ssl_certificate     /etc/letsencrypt/live/coolpoisk.ru/fullchain.pem; # managed by Certbot
ssl_certificate_key /etc/letsencrypt/live/coolpoisk.ru/privkey.pem; # managed by Certbot
ssl_protocols       TLSv1.1 TLSv1.2 TLSv1.3;

upstream @frontend {
    server 127.0.0.1:3000;
}

upstream @backend {
    server 127.0.0.1:8000;
}

server {
    listen      80 default_server;
    server_name _;
    return      301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name coolpoisk.ru www.coolpoisk.ru;

    root /var/www/{{ domain }};

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    location  ~ ^/api/?(.*)$ {
        proxy_pass http://@backend;
    }

    location  / {
        proxy_pass http://@frontend;
    }
}