div.App {
  font-family: sans-serif;
  text-align: center;
}

div.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  color: #000000;
  background-color: lightcyan;
  font-size: 13px;
  line-height: 1;
}

button {
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  line-height: 1;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: black;
  color: white;
}


.btn {
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  line-height: 1;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

input {
  width: 246px;
  font-size: 16px;
  line-height: 20px;
  color: black;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

input::placeholder {
  color: gray;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

div.map {
  justify-self: flex-start;
  align-self: center;
  width: 100%;
}

div.settings {
  justify-self: flex-start;
  width: 30%;
  padding-right: 20px;
  padding-top: 40px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  background-color: gainsboro;
  margin: 1px;
}

.item.selected {
  background-color: red;
}

input {
  margin: 20px auto;
}

label {
  margin-right: 15px;
}
