div.App {
  font-family: sans-serif;
  text-align: center;
}

div.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  color: #000000;
  background-color: #e1fce1;
  font-size: 13px;
  line-height: 1;
}

button {
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  line-height: 1;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: black;
  color: white;
}

.btn {
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  line-height: 1;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

input {
  width: 200px;
  font-size: 16px;
  line-height: 10px;
  color: black;
  padding: 5px;
  border: 1px solid black;
  cursor: text;
}

input::placeholder {
  color: gray;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  background: linear-gradient(-45deg, #dfedeb, #edebdf, #eae4f2, #ebf0ef);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

div.map {
  justify-self: flex-start;
  align-self: center;
  width: 100%;
}

div.settings {
  justify-self: flex-start;
  width: 30%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 40px;
  background: linear-gradient(-45deg, #ffdcd1, #ffd1e3, #c2efff, #ccfff3);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  background-color: gainsboro;
  margin: 1px;
}

.item.selected {
  background-color: red;
}

.item.schedule {
  background-color: orange;
}

input {
  margin: 10px auto;
}

label {
  align-content: stretch;
}

.inputblock {
  margin: 20px auto;
}